<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.qaprosoft.carina.demo.web.ProductTest"/>
      <class name="com.qaprosoft.carina.demo.web.LoginTest"/>
      <class name="com.qaprosoft.carina.demo.web.RegistrationTest"/>
      <class name="com.qaprosoft.carina.demo.web.SearchTest"/>
    </classes>
  </test> 
</suite> 
